/* Footer.css */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer-button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.footer-button:hover {
  color: #000;
}
.icond{
  filter: invert(0); /* Black */
}

.dark-mode .icond{
  filter: invert(1); /* White */
}
.dark-mode .footer{
    background-color: #000; 
}
/* Responsive Design */
@media (min-width: 768px) {
  .footer {
    display: none; /* Hide footer on desktop */
  }
}
