.instagram-profile {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 0.5rem;
  margin: 0 auto;
  max-width: 488px;
}

.profile-container,
.bio-heading,
.bio-description span,
.bio-signature {
  display: none;
}

.profile-picture {
  grid-column: 1 / 2;
  grid-row: 1/2;
  display: flex;
}
.profile-picture img {
  width: 80%;
  border-radius: 50%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.profile-picture img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ddd;
  padding: 1px;
}

.profile-details {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.bio-link {
  text-decoration: none;
  color: #0f4d73;
  display: block;
}

.profile-bio {
  grid-column: 1/3;
  grid-row: 2/3;
}

.bio-description {
  margin: 0;
}

.bio-category {
  margin: 0;
}

.profile-actions {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-actions button {
  flex: 1;
}

.follow-button {
  background-color: #1877f2;
  padding: 7px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.message-button {
  background-color: #dfdfdf;
  padding: 7px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: black;
}

.icon-button img {
  width: 30px;
  height: 30px;
  margin: auto;
  align-self: center;
  padding: 0.5px;
}

.stats {
  display: flex;
  gap: 3rem;
}

.stats div strong {
  display: block;
}

@media (min-width: 601px) {
  .instagram-profile {
    grid-template-rows: auto auto auto;
    grid-template-columns: 30% 1fr;
  }

  .profile-picture {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  .profile-picture img {
    width: 100%;
  }
  .profile-bio {
    grid-column: 2/3;
  }

  .profile-actions {
    display: none;
  }
  .profile-container,
  .bio-heading,
  .bio-description span,
  .bio-signature {
    display: flex;
  }

  .profile-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-container {
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .stats div strong {
    display: inline-block;
  }

  .profile-username {
    font-size: 1.5rem;
  }

  .message-button {
    font-size: 0.9rem;
    width: 8.5rem;
    
  }


  .profile-container button {
    padding: 0px 12px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .menu {
    border: none;
    align-self: center;
  }

  .bio-heading {
    margin: 0;
  }

  .bio-description,
  .bio-description span {
    display: inline;
  }

  .bio-category,
  .signed {
    color: #989898;
    
  }

  .profile-container {
    margin-bottom: 1rem;
  }

  .bio-link {
    text-decoration: none;
    color: #44A1DB;
  }
  .profile-picture img {
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }

  .profile-picture img:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    padding: 1px;
  }
}
.dark-mode{
  .message-button {
    color: #fff;
  }
 
}
.icond {
  filter: invert(0); /* Black */
}

.dark-mode .icond {
  filter: invert(1); /* White */
}